body {
  font-family: "Cairo", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/christmas-background-with-snowflakes-stars-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  overflow: hidden;
}
.container h1 {
  font-size: 100px;
}
.results {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  padding-top: 100px;
}
.results h2 {
  font-size: 80px;
}
i {
  position: absolute;
  top: 0;
  animation: snowfall 5s linear infinite;
}
@keyframes snowfall {
  to {
    transform: translateY(105vh);
  }
}

@media (max-width: 767px) {
  .container {
    justify-content: center;
  }
  .results {
    padding-top: 50px;
    gap: 30px;
  }
  .results h2 {
    font-size: 40px;
  }
  .container h1 {
    font-size: 30px;
  }
}
